 body {
      margin: 0;
    }

    
    .optionscontainer {
      text-align: center;
      margin: 20px 0;
    }
    .option {
      margin: 0 10px;
      padding: 10px 20px;
      background-color: #0096ff;
      color: white;
      text-decoration: none;
      border-radius: 5px;
      cursor: pointer;
    }
    .produitscontainer {
      display: flex;
      justify-content: center;
      gap: 30px;
      flex-wrap: wrap;
      padding: 20px;
    }
    .produit {
      border: 1px solid #ddd;
      padding: 15px;
      border-radius: 5px;
      text-align: center;
      width: 200px;
    }
    .produit img {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }
    .produit p {
      color: black;
    }
    /* .elements > div {
      display: none;
    } */