/* GLOBAL */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/* SECTIONS CATEGORIES (OPTIONS) */
.optionscontainer {
    text-align: center;
    padding: 2rem 1rem;
    background-color: #fff;
}

.option {
    margin: 0 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(1, 154, 236);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.3s ease, border-bottom 0.3s ease, background-color 0.5s ease;
}

.option:hover {
    background-color:white;
    color: rgb(1, 154, 236);
    border-bottom: 2px solid rgb(1, 154, 236);
}

/* PRODUITS - CONTAINER */
.produitscontainer {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
    background-color: #fff;
}

/* CARTE PRODUIT */
.produit {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.pr:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 10px;
}

.produit img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.produit h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    margin: 0.5rem 0;
}

.produit .prix {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    color: #000000;
    font-weight: bold;
    font-size: 1rem;
}


/* BOUTON PERSONNALISÉ */
/* .produit button {
    background-color: #118ef5;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
} */

/* .produit button:hover {
    background-color: #a1a1a1;
    border :rgb(1, 154, 236) 7px inset;
} */

/* RESPONSIVE */
@media (max-width: 876px) {
    .produitscontainer {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .option {
        display: block;
        margin: 1rem auto;
    }
}
